We can use python to do math.

In [12]:
1+1

2

In [13]:
5-9

-4

In [14]:
5*6

30

In [15]:
-4/2

-2.0

We can do math with decimal points

In [16]:
1.0 + 2.5

3.5

We can do math with exponents

In [17]:
2**3

8

We can follow order of operations

In [18]:
(2+3)*3

15

In [19]:
# This is a comment

Modulo is the remainder of a division

In [20]:
7%3 #is 1 because 7 divided by 3 is 2 with a remainder of 1

1

Using Variables

In [21]:
x=7
y="data"

print(x) #printing the variable x
print(y) #printing the variable y

##when naming variables, do not use spaces or special characters
##If you want to use a space, use an underscore instead
##It is better to use lower case letters for variable names
my_variable = 10
print(my_variable) ##printing the variable before adding 5
my_variable += 5
print(my_variable) ##printing the variable after adding 5

7
data
10
15

Using Strings

We have to watch quotes to make sure they match

In [22]:
"Im into Data Science"
question = "What are you studying?"
answer = "Analytics!"

print(question)
print(answer)

print(question + " " + answer) # Concatenating strings with a space in between

print(question + "\n" +answer) # Concatenating strings with a newline in between

What are you studying?
Analytics!
What are you studying? Analytics!
What are you studying?
Analytics!

In [23]:
type(answer) # This will show the type of the variable 'answer'

str

In [24]:
len(answer) # This will show the length of the string in 'answer'

10

Indexing Strings

In [25]:
answer[0] # This will show the first character of the string in 'answer'

'A'

In [26]:
answer[2] # This will show the third character of the string in 'answer'

'a'

In [27]:
answer[9] # This will show the tenth character of the string in 'answer'

'!'

In [28]:
answer[-1] # This will show the last character of the string in 'answer'

'!'

In [29]:
course = "CTBA"
len(course) # This will show the length of the string in 'course'
print(course[0:2]) # This will show the first 3 characters of the string in 'course'

CT

Methods and Functions

In [30]:
answer.upper() # This will convert the string in 'answer' to uppercase

'ANALYTICS!'

In [31]:
answer_cap = answer.upper()
print(answer_cap) # This will print the uppercase version of 'answer'

ANALYTICS!

In [32]:
answer.lower() # This will convert the string in 'answer' to lowercase

'analytics!'

In [33]:
answer.find("t")

5

f-strings are a way to format strings

In [34]:
name = "Pamela Schlosser"
print("Hello, I am " + name + ". I have been teaching at WM since 2020.")    
print(f"Hello, I am {name}. I have been teaching at WM since 2020.") # Using f-string for formatting

Hello, I am Pamela Schlosser. I have been teaching at WM since 2020.
Hello, I am Pamela Schlosser. I have been teaching at WM since 2020.

List Tuples Sets Dictionaries

In [35]:
l1 = [1,2,3,4,5]
l2 = ["a", "hello", "c", 2, 3.6]
print(l1 + l2) # This will concatenate the two lists

[1, 2, 3, 4, 5, 'a', 'hello', 'c', 2, 3.6]

In [36]:
l1.append(6) # This will add 6 to the end of the list l1
print(l1) # This will print the updated list l1

l1.pop() # This will remove the last element from the list l1
print(l1) # This will print the updated list l1 after popping the last element

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [37]:
l1.sort() # This will sort the list l1 in ascending order

Tuples
Tuples are immutable lists

In [38]:
t1 = (1, 2, 3, 4, 5) # This is a tuple
print(t1) # This will print the tuple t1

#t1[0] = 11 # This will raise an error because tuples are immutable

(1, 2, 3, 4, 5)

Dictionaries

In [39]:
d1 = {"name": "Schlosser", "age": 23, "city": "Williamsburg"} # This is a dictionary

In [40]:
print(d1["name"])     # Output: Schlosser
d1["age"] = 24         # Updating the age
d1["email"] = "pgschlosser@wm.edu"  # Adding a new key-value pair
print(d1)  # Output: {'name': 'Schlosser', 'age': 24, 'city': 'Williamsburg', 'email': '

#Print in a better format using .items method
for key, value in d1.items():
    print(key, ":", value)

Schlosser
{'name': 'Schlosser', 'age': 24, 'city': 'Williamsburg', 'email': 'pgschlosser@wm.edu'}
name : Schlosser
age : 24
city : Williamsburg
email : pgschlosser@wm.edu

Dictionary of Dictionaries

In [41]:
people = {
    "person1": {"name": "Schlosser", "age": 23, "city": "Williamsburg"},
    "person2": {"name": "Smith", "age": 30, "city": "Newport News"}
}

print(people)

{'person1': {'name': 'Schlosser', 'age': 23, 'city': 'Williamsburg'}, 'person2': {'name': 'Smith', 'age': 30, 'city': 'Newport News'}}

In [42]:
distances = {
    "A": {"B": 10, "C": 15},
    "B": {"A": 10, "C": 20},
    "C": {"A": 15, "B": 20}
}

If Statements Loops

In [43]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

 If–Else Statements

In [44]:
x = 4

if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is even

If–Elif–Else Chains

In [45]:
x = 0

if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Zero

For Loops

In [46]:
for i in range(5):
    print("i is", i)

i is 0
i is 1
i is 2
i is 3
i is 4

While Loop with If Statement

In [47]:
x = 0

while x < 5:
    if x % 2 == 0:
        print(x, "is even")
    else:
        print(x, "is odd")
    x += 1

0 is even
1 is odd
2 is even
3 is odd
4 is even

Functions

In [48]:
def my_first_function():
    """     
    This is where we put the docstring
    including input parameters, and output
    """

    print("This is my first function")

In [49]:
def sum_up(a, b):
     print(a+b)
     
sum_up(1,2)

sum_up(a=1, b=2)

3
3

Can set default values for parameters

In [50]:
def sum_up(a=1, b=1):
     print(a+b)

sum_up()  # This will use the default values of a and b

2

Return Statement

In [51]:
def sum_up(a=1, b=1):
     return(a+b)

result= sum_up() # This will use the default values of a and b and assign the result to a new variable 'result'
print(result)  # This will print the result of the sum_up function

2

Function with If Else Statement

In [52]:
def abs_value(k):
    """Returns the absolute value of a number."""
    if k < 0:
        return -k
    else:
        return k
    
abs(-5)  # This will return 5

5

In [53]:
abs(5)  # This will return 5

5

In [ ]:
import numpy as np

list1 = [1,2,3,4,5]
print(list1)

In [ ]:
arr1 = np.array([1,2,3,4,5])
print(arr1)
list2 = [(1,2,3),(4,5,6)]
print(list2)
arr2 = np.array([(1,2,3),(4,5,6)])
print(arr2)

In [ ]:
list = [1,2,3]
arr1 = np.array([1,2,3])
for e in list:
    print(e)
for e in arr1:
    print(e)

In [ ]:
arr1 = np.array([1,2,3])
# these do not work:
#arr1.append(4)
#arr1 = arr1 + [5]
arr1 = np.append(arr1,4)
arr1 = np.append(arr1,[5])

In [ ]:
for e in arr1:
    print(e)
arr2 = arr1 + arr1

In [ ]:
for e in arr2:
    print(e)